header {
    padding: 2rem $gutter;
    h1 {font-size: 2rem;}
}

.parent {
    grid-template-columns: 1fr 1fr;
  }

 // end ul
    ul li a {
        border: none;
    }

 // end nav

#fancyhotel {
    section {
      grid-template-areas: 
      "photo name"
      "photo phone"  
      "photo address"
      ;
      column-gap: 8px;
      p2 {
        margin-bottom: 70px;
        margin-top: 50px;
        text-align: left;
      }
    }
  }