/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}
/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $fontColor;
}

#pageWrapper {
  position: relative;
  overflow-x: hidden;
}

.moveOver>.content{transform: translateX(-180px);}
.content {transition: transform 500ms ease;}

header {
  display: grid;
  grid-template-columns: 51px auto 48px;
  align-items: center;
  padding: .5rem 2vw;
  h1 {
    color: black;
    font-size: 1.6rem;
    font-weight: $lightWeight;
    padding-left: .5rem;
  }
  button {
    width: 48px;
    height: 48px;
    margin: 0;
    align-self: start;
    background: none;
    border: none;
    font-size: 1.5rem;
    text-align: right;

  }
}


nav {
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  
  div {
    display: block;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.1rem;
    background-color:rgb(72, 72, 72);
    color: white;
  }
  ul {
    list-style-type: none;
  }
  ul li a {
    display: block;
    padding: .9rem .5rem;
    text-align: right;
    border-bottom: 1px rgba(0,0,0,0.25) solid;
    text-decoration: none;
    color: black;
    
  }
  ul li a:hover {
    background-color:rgba(72, 72, 72, 0.5);
    color: white;
  }
  li.active a {
    color: $primaryColor;
  }
}







#mainWrapper {
  h1 {
    font-weight: $boldWeight;
    color: black;
    margin: 2rem;
    padding: $gutter;
  }
  p {
    color: black;
    padding: $gutter;
    margin: 2rem;
  }
}
#fancyhotel {
  section {
    display: grid;
    grid-template-areas: 
    "photo"
    "name" 
    "address" 
    "phone";
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 10px;
    img {grid-area: photo;
    width: 100%;
    height: auto;
    border-radius: 5px;
    }
    h2 {grid-area: name;
    text-align: left;
  padding-left: 10px;}
    p{grid-area: address;
    padding-left: 10px;}
    p.address{grid-area: phone;
    padding-left: 10px;}
    p2 {
      padding-left: 10px;
      background-color: rgb(72, 72, 72);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      max-width: 150px;
      border-radius: 10px;
      padding: 5px;
      margin-left: 5px;
      text-align: center;
      color: white;
    }
  }
}



// begin the footer

#footerWrapper {
  background-color: rgb(72, 72, 72);
}
footer {
  padding: 0.5rem $gutter;
  p {
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
    color: white;
  }
}
